.notice-page-container {
    padding-top: 100px;
  .notice-list-container {
    .mantine-Table-root {
      border-top: 2px solid #2e2e2e;
      border-bottom: 1px solid #2e2e2e;
      height: 75px;
    }
  }
}
